<div class="main-container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="mat-card p-0">
        <div class="mat-card-header" ab-color="primary" class="p-3">
          Login
        </div>
        <div class="mat-card-content p-3">
          <h6>Sign in your account</h6>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </form>
          <button mat-raised-button ab-color="secondary" class="btn-block mb-3">Login</button>

          <a href="">Forgot password?</a>
          <a href="" class="float-right">Create your new account?</a>
          <!-- <button mat-raised-button ab-color="primary" class="btn-block mt-3">Login with Google</button> -->
        </div>
        <!-- <div class="mat-card-footer" ab-color="light" class="py-2 px-3 d-flex justify-content-between">
          <button mat-raised-button ab-color="secondary">Google</button>
          <button mat-raised-button ab-color="secondary">Facebook</button>
          <button mat-raised-button ab-color="secondary">Twitter</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
