<div class="main-container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="mat-card p-0">
        <div class="mat-card-header" ab-color="primary" class="p-3">
          Sign up
        </div>
        <div class="mat-card-content p-3">
          <h6>Create your account</h6>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password" >
            </mat-form-field>
          </form>
          <button mat-raised-button ab-color="success" class="btn-block mb-3">Create account</button>
          <a href=""> already have an account? Login</a>
          <div class="py-2  d-flex justify-content-between">
              <button mat-raised-button class="google">Google</button>
              <button mat-raised-button class="facebook">Facebook</button>
              <button mat-raised-button class="twitter">Twitter</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
