<div class="main-container">
  <div class="row px-3">
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header ab-color="primary" class="p-3">
          Buttons
        </mat-card-header>
        <mat-card-content class="p-3">
          <p>Basic Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-button>Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
            <a mat-button routerLink=".">Link</a>
          </div>
          <mat-divider></mat-divider>
          <p>Flat Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-flat-button>Basic</button>
            <button mat-flat-button color="primary">Primary</button>
            <button mat-flat-button color="accent">Accent</button>
            <button mat-flat-button color="warn">Warn</button>
            <button mat-flat-button disabled>Disabled</button>
            <a mat-flat-button routerLink=".">Link</a>
          </div>
          <mat-divider></mat-divider>

          <p>Stroked Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-stroked-button>Basic</button>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Accent</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disabled</button>
            <a mat-stroked-button routerLink=".">Link</a>
          </div>
          <mat-divider></mat-divider>

          


          <p>Pill Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-raised-button class="btn-pill">Basic</button>
            <button mat-raised-button color="primary" class="btn-pill">Primary</button>
            <button mat-raised-button color="accent" class="btn-pill">Accent</button>
            <button mat-raised-button color="warn" class="btn-pill">Warn</button>
            <button mat-raised-button disabled class="btn-pill">Disabled</button>
            <a mat-raised-button routerLink="." class="btn-pill">Link</a>
          </div>
        
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card class="p-0">
          <mat-card-header ab-color="primary" class="p-3">
            Block button
          </mat-card-header>
          <mat-card-content class="p-3">
          
            <p>Block level Buttons</p>
            <div class="example-button-row mb-3">
              <button mat-flat-button class="btn-block" ab-color="primary">Basic</button>
              <button mat-flat-button color="primary" class="btn-block">Primary</button>
              <button mat-flat-button color="accent" class="btn-block">Accent</button>
              <button mat-flat-button color="warn" class="btn-block">Warn</button>
              <button mat-flat-button disabled class="btn-block">Disabled</button>
              <a mat-flat-button routerLink="." class="btn-block" ab-color="primary">Link</a>
            </div>
  
          </mat-card-content>
        </mat-card>
      </div>
  </div>

  <div class="row px-3 mt-3">
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Icon and Icon buttons
        </mat-card-header>
        <mat-card-content class="p-3">
          <p>Icon Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
          <p>Buttons with icon</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button  mat-flat-button aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon> Primary
            </button>
            <button  mat-flat-button color="primary" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon> danger
            </button>
            <button  mat-flat-button color="accent" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon> dark
            </button>
            <button  mat-flat-button color="warn" aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon> light
            </button>
            <button  mat-flat-button disabled aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon> warning
            </button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Fab buttons
        </mat-card-header>
        <mat-card-content class="p-3">
          <p>Fab Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-fab>Basic</button>
            <button mat-fab color="primary">Primary</button>
            <button mat-fab color="accent">Accent</button>
            <button mat-fab color="warn">Warn</button>
            <button mat-fab disabled>Disabled</button>
            <button mat-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <a mat-fab routerLink=".">Link</a>
          </div>
          <mat-divider></mat-divider>

          <p>Mini Fab Buttons</p>
          <div class="example-button-row mb-3 d-flex justify-content-between">
            <button mat-mini-fab>Basic</button>
            <button mat-mini-fab color="primary">Primary</button>
            <button mat-mini-fab color="accent">Accent</button>
            <button mat-mini-fab color="warn">Warn</button>
            <button mat-mini-fab disabled>Disabled</button>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <a mat-mini-fab routerLink=".">Link</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row px-3 mt-3">
   
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Button sizes
        </mat-card-header>
        <mat-card-content class="p-3">
          <p>Small Buttons</p>
            <div class="example-button-row mb-3 d-flex justify-content-between">
              <button mat-raised-button class="btn-sm">Basic</button>
              <button mat-raised-button color="primary" class="btn-sm">Primary</button>
              <button mat-raised-button color="accent" class="btn-sm">Accent</button>
              <button mat-raised-button color="warn" class="btn-sm">Warn</button>
              <button mat-raised-button disabled class="btn-sm">Disabled</button>
              <a mat-raised-button routerLink="." class="btn-sm">Link</a>
            </div>
            <mat-divider></mat-divider>
  
            <p>Raised Buttons</p>
            <div class="example-button-row mb-3 d-flex justify-content-between">
              <button mat-raised-button>Basic</button>
              <button mat-raised-button color="primary">Primary</button>
              <button mat-raised-button color="accent">Accent</button>
              <button mat-raised-button color="warn">Warn</button>
              <button mat-raised-button disabled>Disabled</button>
              <a mat-raised-button routerLink=".">Link</a>
            </div>
            <mat-divider></mat-divider>
  
  
            <p>Large Buttons</p>
            <div class="example-button-row mb-3 d-flex justify-content-between">
              <button mat-raised-button class="btn-lg">Basic</button>
              <button mat-raised-button color="primary" class="btn-lg">Primary</button>
              <button mat-raised-button color="accent" class="btn-lg">Accent</button>
              <button mat-raised-button color="warn" class="btn-lg">Warn</button>
  
              <a mat-raised-button routerLink="." class="btn-lg">Link</a>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
