<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar ab-color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">AdminByte</h1>
    <!-- <div class="dropdown ml-auto">
    <img src="assets/download.png" alt="" class="w-24 ml-auto">
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
  </div> -->

    <button mat-icon-button [matMenuTriggerFor]="menu1" class="ml-auto">
      <mat-icon matBadge="11" matBadgeColor="warn">notification_important</mat-icon>
    </button>
    <mat-menu #menu1="matMenu" class="p-0">
      <!-- <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 3</button>
      <button mat-menu-item>Item 4</button> -->
      <mat-list>
        <mat-card class="p-0">
          <mat-card-header class="p-1" ab-color="secondary">
            You have five notification
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <a href="">New user registered</a>
              </mat-list-item>
              <mat-list-item>
                <a href="">New user registered</a>
              </mat-list-item>
              <mat-list-item>
                <a href="">New user registered</a>
              </mat-list-item>
              <mat-list-item>
                <a href="">New user registered</a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-list>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu2" class="ml-2">
      <mat-icon matBadge="15" matBadgeColor="accent">format_list_bulleted</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 3</button>
      <button mat-menu-item>Item 4</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu3" class="ml-2">
      <mat-icon matBadge="4" matBadgeColor="primary">message</mat-icon>
    </button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 3</button>
      <button mat-menu-item>Item 4</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-2">
      <mat-icon>person</mat-icon>
    </button>
    <!-- <button mat-button >Menu</button> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>


  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="min-width: 220px;">
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Accordian & Collapse
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/collapse']">Collapse</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Breadcrumb
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/breadcrumb']">Breadcrumb</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Buttons
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/button']">Button</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Cards
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/card']">Cards</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Datepicker
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/date-picker']">Datepicker</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Errors
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/error404']">Error 404</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/error505']">Error 500</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Forms
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/forms']">Basic Forms</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/login']">Login</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/signup']">Sign up</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Invoice
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/invoice']">Invoice</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Jumbotron
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/jumbotron']">Jumbotron</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              List
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/list']">list</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Menu-button
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/menu-button']">Menu-button</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Modals
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/dialog']">Dialog</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/bottomsheet']">Bottom sheet</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/snackbar']">Snackbar</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Stepper
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/stepper']">Stepper</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Table
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/basic-table']">Basic table</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/filter-table']">Filter table</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/sorting-table']">Sorting table</a>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="[ '/selection-table']">Selection table</a>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Tabs
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[ '/tab']">Tabs</a>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
