<div class="main-container">
  <div class="row p-3">
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Streched Tabs
        </mat-card-header>
        <mat-card-content class="p-3">
          <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 tab-header">
            <mat-tab label="First"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorem alias
              similique, consequatur nihil enim odit quaerat ducimus obcaecati rem, voluptatibus tempora. Sequi, maxime
              provident delectus recusandae voluptatem similique laborum!</mat-tab>
            <mat-tab label="Second"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nihil quam, quas
              veritatis repellat doloribus quasi alias optio perspiciatis cupiditate dolorum fugit. Neque saepe ratione
              eum cupiditate expedita consequatur fugit. 2 </mat-tab>
            <mat-tab label="Third"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam reprehenderit
              aliquam nisi sunt libero eos delectus saepe in laboriosam voluptatum mollitia ullam quas odio cupiditate,
              perferendis ea deserunt suscipit earum? 3 </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Icon Tabs
        </mat-card-header>
        <mat-card-content class="p-3">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                First
              </ng-template>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam expedita qui dicta, nihil dolorum
              necessitatibus amet temporibus ex eos, maxime rerum delectus laudantium assumenda perferendis dolores
              labore neque aliquam sapiente!
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Second
              </ng-template>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos blanditiis atque tempora, amet, earum
              molestiae impedit, ab odio eaque velit hic excepturi laborum deleniti sapiente deserunt. Nulla deleniti
              saepe vel. 2
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Third
              </ng-template>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo exercitationem culpa minus. Error vel alias
              dignissimos dicta, eligendi laborum aperiam tempore excepturi nostrum ratione minima voluptas amet quaerat
              inventore omnis!
            </mat-tab>
          </mat-tab-group>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row p-3">
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Simple Tabs
        </mat-card-header>
        <mat-card-content class="p-3">
          <mat-tab-group>
            <mat-tab label="First">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, perferendis odit sunt dignissimos unde
              odio! Eos dolor vitae voluptate molestiae officia ut laborum fugit! Ut dolores natus quos at nam. Lorem
              ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum eius quibusdam ipsum fugit non aut atque ad
              rem nemo, odit nulla odio sit eaque nobis vitae cumque quos asperiores repellat.
            </mat-tab>
            <mat-tab label="Second">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusamus deleniti similique, fugiat
              doloribus laudantium rem itaque, voluptatem eum suscipit repudiandae saepe illum et amet voluptatum,
              voluptate dolores vel sapiente! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
              molestiae, culpa illum ratione cumque tenetur aperiam unde veritatis totam eos repellat corporis impedit
              doloremque voluptatibus ipsum tempora sunt perferendis. Quos?
            </mat-tab>
            <mat-tab label="Third"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse doloremque, unde
              asperiores eligendi id at, deleniti facere vel illum maiores, quod veniam voluptatum iusto?
              Exercitationem, facilis nemo! Illum, aliquid! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Officia aliquid officiis aut odio mollitia suscipit, reiciendis similique incidunt, corrupti voluptatibus
              tempora laboriosam iste voluptatum expedita est quia! Deleniti, mollitia saepe! 3 </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" ab-color="primary">
          Sizing Tabs
        </mat-card-header>
        <mat-card-content class="p-3">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Short tab">
              <div class="example-small-box mat-elevation-z4">
                Small content
              </div>
            </mat-tab>
            <mat-tab label="Long tab">
              <div class="example-large-box mat-elevation-z4">
                Large content
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>