<div class="main-container">
  <div class="row px-3">
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" pp-color="primary">
          Accordian
        </mat-card-header>
        <mat-card-content class="p-3">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Item 1
              </mat-expansion-panel-header>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tempora amet eveniet sit aliquam
              aspernatur porro dolore maiores natus perspiciatis fugiat perferendis voluptatum culpa cum iure doloribus
              ab, ad in?
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Item 2
              </mat-expansion-panel-header>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tempora amet eveniet sit aliquam
              aspernatur porro dolore maiores natus perspiciatis fugiat perferendis voluptatum culpa cum iure doloribus
              ab, ad in?
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Item 3
              </mat-expansion-panel-header>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tempora amet eveniet sit aliquam
              aspernatur porro dolore maiores natus perspiciatis fugiat perferendis voluptatum culpa cum iure doloribus
              ab, ad in?
            </mat-expansion-panel>

          </mat-accordion>


        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="p-0">
        <mat-card-header class="p-3" pp-color="primary">
          Accordian
        </mat-card-header>
        <mat-card-content class="p-3">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Item 1
              </mat-expansion-panel-header>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tempora amet eveniet sit aliquam
              aspernatur porro dolore maiores natus perspiciatis fugiat perferendis voluptatum culpa cum iure doloribus
              ab, ad in?
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Item 2
              </mat-expansion-panel-header>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tempora amet eveniet sit aliquam
              aspernatur porro dolore maiores natus perspiciatis fugiat perferendis voluptatum culpa cum iure doloribus
              ab, ad in?
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Item 3
              </mat-expansion-panel-header>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus tempora amet eveniet sit aliquam
              aspernatur porro dolore maiores natus perspiciatis fugiat perferendis voluptatum culpa cum iure doloribus
              ab, ad in?
            </mat-expansion-panel>

          </mat-accordion>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      
    </div>
  </div>
</div>
