<div class="main-container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="p-0">
        <mat-card-header pp-color="primary" class="p-3">
          Bottom sheet Dialog
        </mat-card-header>
        <mat-card-content class="p-3">
          <p><button mat-raised-button pp-color="primary" (click)="openBottomSheet()">Open Bottomsheet Dialog</button></p>
          <button mat-raised-button pp-color="light" (click)="openBottomSheet()">Open Bottomsheet Dialog</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
